@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?llu59v');
	src:  url('fonts/icomoon.eot?llu59v#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?llu59v') format('truetype'),
	  url('fonts/icomoon.woff?llu59v') format('woff'),
	  url('fonts/icomoon.svg?llu59v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
  
[class^="d_icon-"], [class*=" d_icon-"] {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'mstmenu';
	src:  url('fonts/mstmenu.eot?d7hthn');
	src:  url('fonts/mstmenu.eot?d7hthn#iefix') format('embedded-opentype'),
	  url('fonts/mstmenu.ttf?d7hthn') format('truetype'),
	  url('fonts/mstmenu.woff?d7hthn') format('woff'),
	  url('fonts/mstmenu.svg?d7hthn#mstmenu') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="mst-icon-"], [class*=" mst-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mstmenu' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

.mst-icon-open:before {
content: "\e90e";
}

.mst-icon-link:before {
content: "\e90d";
}

.mst-icon-bonuses:before {
	content: "\e900";
}
.mst-icon-reviews:before {
	content: "\e901";
}
.mst-icon-settings:before {
	content: "\e902";
}
.mst-icon-products:before {
	content: "\e903";
}
.mst-icon-documents:before {
	content: "\e904";
}
.mst-icon-b2b:before {
	content: "\e905";
}
.mst-icon-b2c:before {
	content: "\e906";
}
.mst-icon-opt:before {
	content: "\e907";
}
.mst-icon-my_vendors:before {
	content: "\e908";
}
.mst-icon-my_clients:before {
	content: "\e909";
}
.mst-icon-statistics_down:before {
	content: "\e90a";
}
.mst-icon-shipments:before {
	content: "\e90b";
}
.mst-icon-orders:before {
	content: "\e90c";
}

.d_icon-busket:before {
	content: "\e910";
}

.d_icon-edit:before {
	content: "\e90f";
}

.d_icon-search:before {
	content: "\e90e";
}

.d_icon-arrow:before {
	content: "\e90c";
}

.d_icon-database:before {
	content: "\e90d";
}

.d_icon-focus:before {
	content: "\e900";
	color: #fb203a;
}
.d_icon-check:before {
	content: "\e901";
	color: #00f619;
}
.d_icon-alerts:before {
	content: "\e902";
}
  

.d_icon-settings:before {
	content: "\e903";
	color: #fff;
  }
  .d_icon-products:before {
	content: "\e904";
	color: #fff;
  }
  .d_icon-document:before {
	content: "\e905";
	color: #fff;
  }
  .d_icon-star:before {
	content: "\e906";
	color: #fff;
  }
  .d_icon-marketing:before {
	content: "\e907";
	color: #fff;
  }
  .d_icon-vendors:before {
	content: "\e908";
	color: #fff;
  }
  .d_icon-clients:before {
	content: "\e909";
	color: #fff;
  }
  .d_icon-graphdown:before {
	content: "\e90a";
	color: #fff;
  }
  .d_icon-shipment:before {
	content: "\e90b";
	color: #fff;
  }